//custom

html{
	color:white;
	font-family:arial;	
	font-size:16px;

    @media ($tablet-up) {
		font-size:22px;
    }

}

body{
	line-height: 1.5rem;
}

// div {
//   transition: all 0.5s ease;
// }

#globalHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 5;
}

.logo{
	margin: 2rem 0 0 1rem;

	transition:top 1s linear;

    @media ($tablet-up) {	
		margin: 2rem 0 0 3rem;
	}
}

///////////////////////
.hero-container{
	overflow: hidden;
	width: 100%;
	float:left;
	position:relative;
	height: 860px;
	    @media ($tablet-up) {
	    height: 1690px;
	    }
}

 .mountain {
 	position:absolute;
 	background: url(../images/background-sm.svg);
    height: 1200px;
    width: 750px;
    top: -330px;
    left:50%;
    margin-left: -375px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;


    @media ($tablet-up) {
	    background: url(../images/background.svg);
	    height: 1740px;
	    width: 2800px;
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    top: -50px;
	    left: 50%;
	    margin: 0;
	    margin-left: -1400px;
	}


}



.about{
	background: rgb(55,173,202);
	background: linear-gradient(0deg, rgba(55,173,202,1) 0%, rgba(140,207,217,1) 100%);
	width:100%;
	min-height:1000px;
	float:left;
}



h1{
	font-family: $slab-font;
	font-weight: normal;
	line-height:2.3rem;
	margin: 0 0 0.6rem 0;
}

p{
	margin: 0 0 1.25rem 0;
    font-size: .8rem;
    line-height: 1.2rem;
}

.form{

	position:relative;
    margin: 320px auto;
    width: 300px;
    text-align: center;
    color: black;

    @media ($tablet-up) {
	    text-align: left;
	        width: 450px;
		float:left;
	    margin-top: 160px;
	    margin-left: 100px;
	        color:white;
	}

	input{

border-radius: 6px;
    padding: .9rem .7rem;
    border: solid 1px #cdcccd;
    display: block;
    background-color: #f0f0f0;
    width: 92%;
    color: black;
    font-size: .8rem;
    letter-spacing: .1rem;
    margin: 0 0 0.9rem 0;

	    @media ($tablet-up) {
	    	    width: 280px;
	    	display:inline-block;
	    	background-color:transparent;;
	    	color:white;
	    	border:white 1px solid;
	    	padding: .7rem;
    		font-size: .65rem;
    		    margin-right: 10px;
		}



	}

	    @media ($tablet-up) {
	input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: white;
	}
	input::-moz-placeholder { /* Firefox 19+ */
	  color: white;
	}
	input:-ms-input-placeholder { /* IE 10+ */
	  color: white;
	}
	input:-moz-placeholder { /* Firefox 18- */
	  color: white;
	}
}
	.btn{
		background-color: red;
		border:none;
		color:white;
		width:100%;
		transition: background 0.2s ease;

		@media ($tablet-up) {

	    	width:120px;
	    	display:inline-block;
	    	margin-right:0;
	    	transition: background 0.2s ease;

	    	&:hover{
				transition: all 0.5s ease;
				background: #bb0300;
				cursor:pointer;
			}
		}
		&:hover{
			transition: all 0.5s ease;
			background: #bb0300;
			cursor:pointer;
		}
	}
}


.coin-1{

	position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -5.5rem;
    z-index: 100;
    background-image: url(../images/coin.png);
    width: 12rem;
    height: 12rem;
    background-size: cover;
    // transition:top 1s linear;

	@media ($tablet-up) {
	    position: absolute;
	    left: 50%;
	    top: 100px;
	    margin-left: -2.6rem;
	    z-index: 100;
	    background-image: url(../images/coin.png);
	    width: 100rem;
	    height: 40rem;
	    width: 10rem;
	    height: 10rem;
	    background-size: cover;
	    // transition:top 1s linear;
	}
}





/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

