

$slab-font: 'Alfa Slab One', cursive;

$mobile-up: 		'min-width: 400px';
$phablet-up: 		'min-width: 550px';
$tablet-up: 		'min-width: 750px';
$desktop-up: 		'min-width: 1000px';
$hd-desktop-up: 	'min-width: 1200px';
